simplecomputer
memdump
.vscode/ipch/252973a7eef12ee6/mmap_address.bin
.vscode/ipch/ce35284a0efde638/mmap_address.bin
.vscode/settings.json
.vscode/ipch/ce35284a0efde638/scmemory.ipch
.vscode/ipch/252973a7eef12ee6/simplecomputer.ipch
*.json
*.bin
*.ipch
simplecomputer
prog1.o
program.o
1234
sat
simplecomputer
simplecomputer
